.htaccess
wp-config.php
wp-content/languages/*
wp-content/plugins/*

!wp-content/plugins/admin-material/*
!wp-content/plugins/admin-material

!wp-content/plugins/airdrop
!wp-content/plugins/airdrop/*

!wp-content/plugins/classic-elements/*
!wp-content/plugins/classic-elements

!wp-content/plugins/contact-form-7/*
!wp-content/plugins/contact-form-7

!wp-content/plugins/coupon-generator-for-woocommerce/*
!wp-content/plugins/coupon-generator-for-woocommerce

!wp-content/plugins/

!wp-content/plugins/e-commerce/*
!wp-content/plugins/e-commerce
!wp-content/plugins/classicpress-seo/*
!wp-content/plugins/classicpress-seo
!wp-content/plugins/ct-ultimate-gdpr
!wp-content/plugins/js_composer
!wp-content/plugins/mailchimp-for-wp/*
!wp-content/plugins/mailchimp-for-wp
!wp-content/plugins/network-subsite-user-registration/*
!wp-content/plugins/network-subsite-user-registration
!wp-content/plugins/redux-framework
!wp-content/plugins/revslider
!wp-content/plugins/rewards-hub/*
!wp-content/plugins/rewards-hub
!wp-content/plugins/subscribe2-for-cp/*
!wp-content/plugins/subscribe2-for-cp
!wp-content/plugins/Ultimate_VC_Addons
!wp-content/plugins/virtual_coin_widgets
!wp-content/plugins/woocommerce/*
!wp-content/plugins/Wompi_WooCommerce_Plugin_0.1.2/*
!wp-content/plugins/woocommerce
!wp-content/plugins/yith-woocommerce-compare
!wp-content/plugins/yith-woocommerce-quick-view
!wp-content/plugins/yith-woocommerce-wishlist
!wp-content/plugins/Wompi_WooCommerce_Plugin_0.1.2

wp-content/themes/*
wp-content/uploads/*
wp-content/languages/*

wp-content/plugins/classicpress-seo/sitemap-cache/*
