.htaccess
wp-config.php
wp-content/languages/*
!wp-content/plugins/*


!wp-content/plugins/admin-theme-pacmec/*
!wp-content/plugins/admin-theme-pacmec
!wp-content/plugins/contact-form-7/*
!wp-content/plugins/contact-form-7
!wp-content/plugins/e-commerce/*
!wp-content/plugins/e-commerce
!wp-content/plugins/e-commerce-accommodation-bookings/*
!wp-content/plugins/e-commerce-accommodation-bookings
!wp-content/plugins/e-commerce-coupon-generator/*
!wp-content/plugins/e-commerce-coupon-generator
!wp-content/plugins/e-commerce-currency-switcher/*
!wp-content/plugins/e-commerce-currency-switcher
!wp-content/plugins/e-commerce-customizer/*
!wp-content/plugins/e-commerce-customizer
!wp-content/plugins/e-commerce-ean/*
!wp-content/plugins/e-commerce-ean
!wp-content/plugins/e-commerce-email-test/*
!wp-content/plugins/e-commerce-email-test
!wp-content/plugins/e-commerce-facebook/*
!wp-content/plugins/e-commerce-facebook
!wp-content/plugins/e-commerce-import-shopify/*
!wp-content/plugins/e-commerce-import-shopify
!wp-content/plugins/e-commerce-jetpack/*
!wp-content/plugins/e-commerce-jetpack
!wp-content/plugins/e-commerce-pdf-invoices-packing-slips/*
!wp-content/plugins/e-commerce-pdf-invoices-packing-slips
!wp-content/plugins/e-commerce-point-of-sale-pos/*
!wp-content/plugins/e-commerce-point-of-sale-pos
!wp-content/plugins/e-commerce-print-invoices-packing-slip-labels/*
!wp-content/plugins/e-commerce-print-invoices-packing-slip-labels
!wp-content/plugins/e-commerce-repeat-order/*
!wp-content/plugins/e-commerce-repeat-order
!wp-content/plugins/e-commerce-shipping-servientrega/*
!wp-content/plugins/e-commerce-shipping-servientrega
!wp-content/plugins/e-commerce-shipping-weight-based/*
!wp-content/plugins/e-commerce-shipping-weight-based
!wp-content/plugins/e-commerce-shipstation-integration/*
!wp-content/plugins/e-commerce-shipstation-integration
!wp-content/plugins/e-commerce-stock-manager/*
!wp-content/plugins/e-commerce-stock-manager
!wp-content/plugins/e-commerce-subscriptions/*
!wp-content/plugins/e-commerce-subscriptions
!wp-content/plugins/elementor/*
!wp-content/plugins/elementor
!wp-content/plugins/jscomposer/*
!wp-content/plugins/jscomposer
!wp-content/plugins/mailchimp/*
!wp-content/plugins/mailchimp
!wp-content/plugins/payment-cryptocurrency/*
!wp-content/plugins/payment-cryptocurrency
!wp-content/plugins/payment-gateway-ether-and-erc20-tokens/*
!wp-content/plugins/payment-gateway-ether-and-erc20-tokens
!wp-content/plugins/payment-gateway-pay-in-store/*
!wp-content/plugins/payment-gateway-pay-in-store
!wp-content/plugins/payment-wompi-colombia/*
!wp-content/plugins/payment-wompi-colombia
!wp-content/plugins/product-compare/*
!wp-content/plugins/product-compare
!wp-content/plugins/product-cryptocurrency/*
!wp-content/plugins/product-cryptocurrency
!wp-content/plugins/product-gift-cards/*
!wp-content/plugins/product-gift-cards
!wp-content/plugins/product-quick-view/*
!wp-content/plugins/product-quick-view
!wp-content/plugins/product-variations-swatches/*
!wp-content/plugins/product-variations-swatches
!wp-content/plugins/product-wishlist/*
!wp-content/plugins/product-wishlist
!wp-content/plugins/revslider/*
!wp-content/plugins/revslider
!wp-content/plugins/seo-tools/*
!wp-content/plugins/seo-tools
!wp-content/plugins/subscribering/*
!wp-content/plugins/subscribering
!wp-content/plugins/wallets/*
!wp-content/plugins/wallets
!wp-content/plugins/woocommerce/*
!wp-content/plugins/woocommerce
!wp-content/plugins/hello.php

wp-content/themes/*
wp-content/uploads/*
wp-content/languages/*

wp-content/plugins/classicpress-seo/sitemap-cache/*
